.profile__name {
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  color: #ffffff;
  grid-area: name;
  margin: 0;
  text-overflow: ellipsis;
  max-width: 500px;
  overflow: hidden;
  white-space: nowrap;
}

@media screen and (max-width: 1023px) {
  .profile__name {
    font-size: 27px;
    line-height: 33px;
    text-align: center;
  }
}

@media screen and (max-width: 600px) {
  .profile__name {
    max-width: 250px;
  }
}
