.profile__info {
  align-self: center;
  display: grid;
  row-gap: 16px;
  column-gap: 18px;
  grid-template-columns: auto auto;
  grid-template-areas:
    "name button"
    "job job";
}

@media screen and (max-width: 1023px) {
  .profile__info {
    row-gap: 7px;
    column-gap: 10px;
    justify-items: center;
  }
}
